body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

.button-font {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}